*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body{
  background-image: url('../img/legno.png');
}

.container{
  width: 60vw;
  margin: auto;
}

header{
  width: 100%;
}

header .title{
  width: 100%;
  height: 30vh;
  color: white;
  border: 10px solid white;
  background-image: url('../img/background.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
}

.title > .heading-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-container img{
  width: 60%;
  text-align: center;
}

.heading-container h1{
  font-size: 16px;
}

header nav{
  width: 100%;
  padding: 10px 5px;
  background: #504741;
  text-align: center;
}

nav ul > li{
  list-style: none;
  text-transform: uppercase;
  font-size: 12px;
  display: inline-block;
  margin: 0 15px;
  color: white;
}

main{
  margin: 20px 0;
  background: #8F8B93;
  color: white;
  /* border: 1px solid black; */
}

main::after{
  clear: both;
  content: '';
  display: table;
}

.float-left{
  float: left;
}

main aside.left{
  width: 20%;
  background: #32624F;
}

section{
  width: 56%;
  background: #211C25;
  margin: 0 2%;
}

main aside.right{
  width: 20%;
}

aside.right .box{
  width: 100%;
  background: #32624F;
}

aside.right .box.middle{
  margin: 20px 0;
}

footer{
  height: 16vh;
  width: 100%;
  background: #6C629C;
  /* border: 1px solid black; */
  color: rgba(0, 0, 0, 0.4);
}

footer > .credits{
  height: 4vh;
  line-height: 4vh;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

footer > .icons{
  height: 12vh;
  line-height: 12vh;
}

.icons::after{
  clear: both;
  content: '';
  display: table;
}

.icons > .social{
  width: 33.33%;
  float: left;
  text-align: center;
  font-size: 50px;
}
